{% extends 'admin/partials/base.html' %}
{% load static %}
{% block content %}




<div id="main-content">
    <div class="container-fluid">
        <div class="block-header py-lg-4 py-3">
            <div class="row g-3">
                <div class="col-md-6 col-sm-12">
                    <h2 class="m-0 fs-5"><a href="javascript:void(0);"
                            class="btn btn-sm btn-link ps-0 btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a> Branch Grid</h2>
                    <ul class="breadcrumb mb-0">
                        <li class=""><a href="index-2.html">Dashboard / </a></li>
                        <li class="">Branch / </li>
                        <li class="breadcrumb-item active">Branch Grid</li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="row g-2">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body text-start pro-img">
                        <img class="d-block img-fluid mb-3 mx-auto" src="{% static 'admin/images/projects/01.png' %}"
                            alt="">
                        <h6 class="project-title text-primary mb-3"><a href="{% url 'adminapp:viewbranch' %}">iNext -
                                Responsive Template</a></h6>
                        <p><strong>Lorem Ipsum is</strong> simply dummy text of the printing and typesetting
                            industry.</p>
                        <div class="progress mb-3" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 25%"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="align-items-center d-flex">
                            <h6 class="mb-0 me-2">Team:</h6>
                            <ul class="list-unstyled team-info mb-0 d-flex">
                                <li><img src="{% static 'admin/images/xs/avatar4.jpg' %}" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Chris Fox" alt="Avatar"></li>
                                <li><img src="{% static 'admin/images/xs/avatar5.jpg' %}" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Joge Lucky" alt="Avatar"></li>
                                <li><img src="{% static 'admin/images/xs/avatar2.jpg' %}" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Folisise Chosielie" alt="Avatar">
                                </li>
                                <li><img src="{% static 'admin/images/xs/avatar1.jpg' %}" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Joge Lucky" alt="Avatar"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body text-start pro-img">
                        <img class="d-block img-fluid mb-3 mx-auto" src="{% static 'admin/images/projects/03.png' %}"
                            alt="">
                        <h6 class="project-title text-primary mb-3"><a href="{% url 'adminapp:viewbranch' %}">Wordpress
                                - Theme Design</a></h6>
                        <p><strong>Lorem Ipsum is</strong> simply dummy text of the printing and typesetting
                            industry.</p>
                        <div class="progress mb-3" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 25%"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="align-items-center d-flex">
                            <h6 class="mb-0 me-2">Team:</h6>
                            <ul class="list-unstyled team-info mb-0 d-flex">
                                <li><img src="{% static 'admin/images/xs/avatar4.jpg' %}" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Chris Fox" alt="Avatar"></li>
                                <li><img src="{% static 'admin/images/xs/avatar8.jpg' %}" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Joge Lucky" alt="Avatar"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body text-start pro-img">
                        <img class="d-block img-fluid mb-3 mx-auto" src="{% static 'admin/images/projects/02.png' %}"
                            alt="">
                        <h6 class="project-title text-primary mb-3"><a href="{% url 'adminapp:viewbranch' %}">Logo
                                Design</a></h6>
                        <p><strong>Lorem Ipsum is</strong> simply dummy text of the printing and typesetting
                            industry.</p>
                        <div class="progress mb-3" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 25%"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="align-items-center d-flex">
                            <h6 class="mb-0 me-2">Team:</h6>
                            <ul class="list-unstyled team-info mb-0 d-flex">
                                <li><img src="{% static 'admin/images/xs/avatar4.jpg' %}" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Chris Fox" alt="Avatar"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body text-start pro-img">
                        <img class="d-block img-fluid mb-3 mx-auto" src="{% static 'admin/images/projects/01.png' %}"
                            alt="">
                        <h6 class="project-title text-primary mb-3"><a href="{% url 'adminapp:viewbranch' %}">iNext -
                                Responsive Template</a></h6>
                        <p><strong>Lorem Ipsum is</strong> simply dummy text of the printing and typesetting
                            industry.</p>
                        <div class="progress mb-3" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 25%"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="align-items-center d-flex">
                            <h6 class="mb-0 me-2">Team:</h6>
                            <ul class="list-unstyled team-info mb-0 d-flex">
                                <li><img src="{% static 'admin/images/xs/avatar4.jpg' %}" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Chris Fox" alt="Avatar"></li>
                                <li><img src="{% static 'admin/images/xs/avatar5.jpg' %}" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Joge Lucky" alt="Avatar"></li>
                                <li><img src="{% static 'admin/images/xs/avatar2.jpg' %}" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Folisise Chosielie" alt="Avatar">
                                </li>
                                <li><img src="{% static 'admin/images/xs/avatar1.jpg' %}" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Joge Lucky" alt="Avatar"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body text-start pro-img">
                        <img class="d-block img-fluid mb-3 mx-auto" src="{% static 'admin/images/projects/03.png' %}"
                            alt="">
                        <h6 class="project-title text-primary mb-3"><a href="{% url 'adminapp:viewbranch' %}">Wordpress
                                - Theme Design</a></h6>
                        <p><strong>Lorem Ipsum is</strong> simply dummy text of the printing and typesetting
                            industry.</p>
                        <div class="progress mb-3" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 25%"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="align-items-center d-flex">
                            <h6 class="mb-0 me-2">Team:</h6>
                            <ul class="list-unstyled team-info mb-0 d-flex">
                                <li><img src="{% static 'admin/images/xs/avatar4.jpg' %}" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Chris Fox" alt="Avatar"></li>
                                <li><img src="{% static 'admin/images/xs/avatar8.jpg' %}" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Joge Lucky" alt="Avatar"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body text-start pro-img">
                        <img class="d-block img-fluid mb-3 mx-auto" src="{% static 'admin/images/projects/02.png' %}"
                            alt="">
                        <h6 class="project-title text-primary mb-3"><a href="{% url 'adminapp:viewbranch' %}">Logo
                                Design</a></h6>
                        <p><strong>Lorem Ipsum is</strong> simply dummy text of the printing and typesetting
                            industry.</p>
                        <div class="progress mb-3" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 25%"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="align-items-center d-flex">
                            <h6 class="mb-0 me-2">Team:</h6>
                            <ul class="list-unstyled team-info mb-0 d-flex">
                                <li><img src="{% static 'admin/images/xs/avatar4.jpg' %}" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Chris" alt="Avatar"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%  endblock %}
