{% extends 'company/partials/master1.html' %}
{% block content %}
{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<style>
    @import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

    section {
        float: left;
        width: 100%;
        padding: 30px 0;
        position: relative;
        overflow: hidden;
        background: #6F8D8A;
        margin: 30px;
    }

    section:before {
        content: "";
        position: absolute;
        width: 110%;
        height: 100%;
        background-color: #fff;
        filter: blur(10px);
        z-index: 0;
        transform: scale(2);
        -ms-transform: scale(2);
        -webkit-transform: scale(2);
    }

  

    .card {
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
        border: none;
        margin-bottom: 30px;
    }

    .card:hover {
        transform: scale(1.05);
        transition: all 1s ease;
        z-index: 999;
    }

    .card-01 .card-body {
        position: relative;
        padding-top: 40px;
    }

    .card-01 .badge-box {
        position: absolute;
        top: -20px;
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
        text-align: center;
    }

    .card-01 .badge-box i {
        background: #006EFF;
        color: #fff;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 20px;
    }

    .card-01 .height-fix {
        height: 455px;
        overflow: hidden;
    }

    .card-01 .height-fix .card-img-top {
        width: auto;
    }

    .profile-box {
        background-size: cover;
        float: left;
        width: 100%;
        text-align: center;
        padding: 30px 0;
        position: relative;
        overflow: hidden;
    }

    

    .profile-box img {
        width: 170px;
        height: 170px;
        position: relative;
        border: 5px solid #fff;
    }
</style>

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Income</h3>
                    <ul class="breadcrumb">
                        <li class=""><a href="{% url 'company:index' %}">Dashboard / </a></li>
                        <li class="breadcrumb-item active">branch</li>
                    </ul>
                </div>
                <div class="col-auto">
                    <a href="{% url 'company:addbranch' %}" class="btn btn-primary me-1">
                        <i class="fas fa-plus"></i>Add Branch
                    </a>
                    
                    <a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
                        <i class="fas fa-filter"></i>
                    </a>
                </div>
            </div>
        </div>



        <div class="card invoices-tabs-card">
            <div class="card-body card-body pt-0 pb-0">
               
            </div>
        </div>
        <div class="row">
           
                {% comment %} <div class="card invoices-grid-card w-100">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <a href="view-invoice.html" class="invoice-grid-link">compnayid 00001</a>
                        <div class="dropdown dropdown-action">
                            <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <!-- <a class="dropdown-item" href="edit-invoice.html"><i
                                        class="far fa-edit me-2"></i>Edit</a>
                                <a class="dropdown-item" href="view-invoice.html"><i
                                        class="far fa-eye me-2"></i>View</a> -->
                                <a class="dropdown-item" href="javascript:void(0);"><i
                                        class="far fa-trash-alt me-2"></i>Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-avatar">
                            <a href="profile.html"><img class="avatar avatar-img "
                                    src="{% static 'company/img/profiles/avatar-04.jpg' %}" alt="User Image"> </a>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <!-- <span><i class="far fa-money-bill-alt"></i> Amount</span>
                                <h6 class="mb-0">$1,54,220</h6>
                            </div>
                            <div class="col-auto">
                                <span><i class="far fa-calendar-alt"></i> Due Date</span>
                                <h6 class="mb-0">23 Mar, 2022</h6> -->
                                <h6 class="mb-0">23 Mar, 2022</h6>
                                <p>tyiuhghgkghgbbbbbbnnnnvvvcccdddfffggghjjjrr
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <a href="{% url 'company:editbranch' %}" class="btn bg-success-dark">
                                    <i ></i>edit</a>
                                
                                    
                            </div>
                            <div class="col-auto">
                                <a href="{% url 'company:branchview' %}" class="btn bg-primary-dark">
                                    <i ></i>view </a>
                               
                               
                            </div>
                           
                        </div>
                        </div>
                    </div>
                    
                </div> {% endcomment %}

                <div class="col-md-4">
                    <div class="card card-01">
                        <div class="profile-box">
                            <img class="card-img-top rounded-circle"
                                src="https://avatars0.githubusercontent.com/u/2575262?s=460&v=4" alt="Card image cap">
                        </div>
                        <div class="card-body text-center">
                            <span class="badge-box"><i class="fas fa-check-circle"></i></span>
                            <h4 class="card-title">Caroline Rodrigues</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                                {% comment %} <button type="button"  class="btn btn-rounded btn-info">View</button> {% endcomment %}
                                <a href="{% url 'company:branchview' %}" class="btn-right btn btn-sm btn-primary">
                                   View
                                    </a>
                        </div>
                   
                </div>



                
            </div>
          
            <!-- <div class="col-lg-12">
                <div class="invoice-load-btn">
                    <a href="#" class="btn">
                        <span class="spinner-border text-primary"></span> Load more
                    </a>
                </div>
            </div> -->
        </div>
    </div>
</div>




{% endblock %}

