{% extends 'company/partials/master1.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-1">
                                <i class="fas fa-dollar-sign"></i>
                            </span>
                            <div class="dash-count">
                                <div class="dash-title">INCOME</div>
                                {% comment %} <div class="dash-counts">
                                    <p>1,642</p>
                                </div> {% endcomment %}
                            </div>
                        </div>
                        {% comment %} <div class="progress progress-sm mt-3">
                            <div class="progress-bar bg-5" role="progressbar" style="width: 75%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="text-muted mt-3 mb-0"><span class="text-danger me-1"><i
                                    class="fas fa-arrow-down me-1"></i>1.15%</span> since last week</p> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-2">
                                <i class="fas fa-chart-area"></i>
                            </span>
                            <div class="dash-count">
                                <div class="dash-title">EXPENCES</div>
                                {% comment %} <div class="dash-counts">
                                    <p>3,642</p>
                                </div> {% endcomment %}
                            </div>
                        </div>
                        {% comment %} <div class="progress progress-sm mt-3">
                            <div class="progress-bar bg-6" role="progressbar" style="width: 65%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="text-muted mt-3 mb-0"><span class="text-success me-1"><i
                                    class="fas fa-arrow-up me-1"></i>2.37%</span> since last week</p> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-3">
                                <i class="fa fa-building"></i>
                            </span>
                            <div class="dash-count">
                                <div class="dash-title">BRANCH</div>
                                {% comment %} <div class="dash-counts">
                                    <p>1,041</p>
                                </div> {% endcomment %}
                            </div>
                        </div>
                        {% comment %} <div class="progress progress-sm mt-3">
                            <div class="progress-bar bg-7" role="progressbar" style="width: 85%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="text-muted mt-3 mb-0"><span class="text-success me-1"><i
                                    class="fas fa-arrow-up me-1"></i>3.77%</span> since last week</p> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-4">
                                <i class="fa fa-users"></i>
                            </span>
                            <div class="dash-count">
                                <div class="dash-title">STAFF</div>
                                {% comment %} <div class="dash-counts">
                                    <p>2,150</p>
                                </div> {% endcomment %}
                            </div>
                        </div>
                        {% comment %} <div class="progress progress-sm mt-3">
                            <div class="progress-bar bg-8" role="progressbar" style="width: 45%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="text-muted mt-3 mb-0"><span class="text-danger me-1"><i
                                    class="fas fa-arrow-down me-1"></i>8.68%</span> since last week</p> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-xl-3 col-sm-6 col-12">
                
                <div class="card bg-warning">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-1">
                                <i class="fa fa-university"></i>
                            </span>
                            <div class="dash-count">
                                <div class="dash-title">BRANCH I</div>
                                <div class="dash-counts">
                                   
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card bg-primary">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-1">
                                <i class="fa fa-university"></i>
                            </span>
                            <div class="dash-count">
                                <div class="dash-title">BRANCH 2</div>
                                <div class="dash-counts">
                                   
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card  bg-success">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-1">
                                <i class="fa fa-university"></i>
                            </span>
                            <div class="dash-count">
                                <div class="dash-title">BRANCH 3</div>
                                <div class="dash-counts">
                                   
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card bg-secondary">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-1">
                                <i class="fa fa-university"></i>
                            </span>
                            <div class="dash-count">
                                <div class="dash-title">BRANCH 4</div>
                                <div class="dash-counts">
                                   
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-xl-3 col-sm-6 col-12">
                
                <div class="card bg-warning">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-1">
                                <i class="fa fa-university"></i>
                            </span>
                            <div class="dash-count">
                                <div class="dash-title">BRANCH 5</div>
                                <div class="dash-counts">
                                   
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card bg-primary">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-1">
                                <i class="fa fa-university"></i>
                            </span>
                            <div class="dash-count">
                                <div class="dash-title">BRANCH 6</div>
                                <div class="dash-counts">
                                   
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card  bg-success">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-1">
                                <i class="fa fa-university"></i>
                            </span>
                            <div class="dash-count">
                                <div class="dash-title">BRANCH 7</div>
                                <div class="dash-counts">
                                   
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card bg-secondary">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-1">
                                <i class="fa fa-university"></i>
                            </span>
                            <div class="dash-count">
                                <div class="dash-title">BRANCH 8</div>
                                <div class="dash-counts">
                                   
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>


{% endblock %}


