{% load static %}
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">   
        <div class="navbar-btn">
            <button type="button" class="btn-toggle-offcanvas"><i class="fa fa-bars"></i></button>
        </div>
        <div class="navbar-brand ps-2">
            <a href="index-2.html">
                <svg width="85px" viewBox="0 0 85 25">
                    <path class="fill-primary" d="M12.3,7.2l1.5-3.7l8.1,19.4H19l-2.4-5.7H8.2l1.1-2.5h6.1L12.3,7.2z M14.8,20.2l1,2.7H0L9.5,0h3.1L4.3,20.2H14.8
                z M29,18.5v-14h1.6v12.6h6.2v1.5H29V18.5z M49.6,4.5v9.1c0,1.6-0.5,2.9-1.5,3.8s-2.3,1.4-4,1.4s-3-0.5-3.9-1.4s-1.4-2.2-1.4-3.8V4.5
                h1.6v9.1c0,1.2,0.3,2.1,1,2.7c0.6,0.6,1.6,0.9,2.8,0.9s2.1-0.3,2.7-0.9c0.6-0.6,1-1.5,1-2.7V4.5H49.6z M59.4,5.7
                c-1.5,0-2.8,0.5-3.7,1.5s-1.3,2.4-1.3,4.2s0.4,3.3,1.3,4.3c0.9,1,2.1,1.5,3.7,1.5c1,0,2.1-0.2,3.4-0.5v1.4c-1,0.4-2.2,0.5-3.6,0.5
                c-2.1,0-3.7-0.6-4.8-1.9s-1.7-3-1.7-5.4c0-1.4,0.3-2.7,0.8-3.8c0.5-0.9,1.3-1.8,2.3-2.4s2.2-0.9,3.6-0.9c1.5,0,2.8,0.3,3.9,0.8
                l-0.7,1.4C61.5,6,60.4,5.7,59.4,5.7z M65.8,18.5v-14h1.6v14.1h-1.6V18.5z M82.5,11.3c0,2.3-0.6,4.1-1.9,5.3s-3.1,1.8-5.4,1.8h-3.9
                V4.5h4.3c2.2,0,3.9,0.6,5.1,1.8S82.5,9.2,82.5,11.3z M80.8,11.4c0-1.8-0.5-3.2-1.4-4.1s-2.3-1.4-4.1-1.4h-2.4v11.2h2
                c1.9,0,3.4-0.5,4.4-1.4S80.8,13.3,80.8,11.4z" />
                </svg>
            </a>
        </div>
        <div class="d-flex flex-grow-1 align-items-center">
            <div class="d-flex">
                <ul class="nav nav-pills me-4 ms-2 d-none d-lg-block">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#"
                            role="button" aria-expanded="false">Wraptheme Info</a>
                        <ul class="dropdown-menu shadow-sm">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form id="navbar-search"
                    class="navbar-form search-form position-relative d-none d-md-block">
                    <input value="" class="form-control" placeholder="Search here..." type="text">
                    <button type="button" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="flex-grow-1">
                <ul class="nav navbar-nav flex-row justify-content-end align-items-center">
                    <li class="d-none d-sm-block"><a href="app-events.html" class="icon-menu"><i
                                class="fa fa-calendar"></i></a></li>
                    <li class="d-none d-sm-block"><a href="app-chat.html" class="icon-menu"><i
                                class="fa fa-comments"></i></a></li>
                    <li><a href="app-inbox.html" class="icon-menu"><i class="fa fa-envelope"></i><span
                                class="notification-dot"></span></a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle icon-menu" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="notification-dot"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end p-0 shadow notification">
                            <ul class="list-unstyled feeds_widget">
                                <li class="d-flex">
                                    <div class="feeds-left"><i class="fa fa-thumbs-o-up"></i></div>
                                    <div class="feeds-body flex-grow-1">
                                        <h6 class="mb-1">7 New Feedback <small
                                                class="float-end text-muted small">Today</small></h6>
                                        <span class="text-muted">It will give a smart finishing to your
                                            site</span>
                                    </div>
                                </li>
                                <li class="d-flex">
                                    <div class="feeds-left"><i class="fa fa-user"></i></div>
                                    <div class="feeds-body flex-grow-1">
                                        <h6 class="mb-1">New User <small
                                                class="float-end text-muted small">10:45</small></h6>
                                        <span class="text-muted">I feel great! Thanks team</span>
                                    </div>
                                </li>
                                <li class="d-flex">
                                    <div class="feeds-left"><i class="fa fa-question-circle"></i></div>
                                    <div class="feeds-body flex-grow-1">
                                        <h6 class="mb-1 text-warning">Server Warning <small
                                                class="float-end text-muted small">10:50</small></h6>
                                        <span class="text-muted">Your connection is not private</span>
                                    </div>
                                </li>
                                <li class="d-flex">
                                    <div class="feeds-left"><i class="fa fa-check"></i></div>
                                    <div class="feeds-body flex-grow-1">
                                        <h6 class="mb-1 text-danger">Issue Fixed <small
                                                class="float-end text-muted small">11:05</small></h6>
                                        <span class="text-muted">WE have fix all Design bug with
                                            Responsive</span>
                                    </div>
                                </li>
                                <li class="d-flex">
                                    <div class="feeds-left"><i class="fa fa-shopping-basket"></i></div>
                                    <div class="feeds-body flex-grow-1">
                                        <h6 class="mb-1">7 New Orders <small
                                                class="float-end text-muted small">11:35</small></h6>
                                        <span class="text-muted">You received a new oder from Tina.</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle icon-menu" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false"><i
                                class="fa fa-sliders"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end p-2 shadow">
                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                        class="fa fa-pencil-square-o"></i> <span>Basic</span></a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                        class="fa fa-sliders fa-rotate-90"></i> <span>Preferences</span></a>
                            </li>
                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                        class="fa fa-lock"></i> <span>Privacy</span></a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                        class="fa fa-bell"></i> <span>Notifications</span></a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                        class="fa fa-credit-card"></i> <span>Payments</span></a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                        class="fa fa-print"></i> <span>Invoices</span></a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                        class="fa fa-refresh"></i> <span>Renewals</span></a></li>
                        </ul>
                    </li>
                    <li><a href="page-login.html" class="icon-menu"><i class="fa fa-sign-out"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>