{% extends 'company/partials/master1.html' %}
{% block content %}
{% load static %}


    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Stock Details</h3>
                        <ul class="breadcrumb">
                            <li class="">
                                <a href="{% url 'company:index' %}">Dashboard /</a>
                            </li>
                            <li class="">
                                <a href="{% url 'company:stock' %}">Stock /</a>
                            </li>
                            <li class="breadcrumb-item active">Stock list</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="filter_inputs" class="card filter-card">
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label>stock Name</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-center table-hover datatable">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Sl.No</th>
                                            <th>Branch Id</th>
                                            <th>Branch Name</th>
                                            <th>Stock</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% comment %} {% for product in products %}
                                        <tr>
                                            <td></td>
                                            <td>{{product.product.product_id}}</td>
                                            <td>{{product.product.name}}</td>
                                            <td>{{product.quantity}}</td>
                                            <td>{{product.product.selling_cost}}</td>
                                            <td>{{product.product.description}}</td>
                                        </tr>
                                        {% endfor %} {% endcomment %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        body
            {
                counter-reset: Serial;          
            }
    
            table
            {
                border-collapse: separate;
            }
    
            tr td:first-child:before
            {
              counter-increment: Serial;      
              content: counter(Serial); 
            }
    </style>
    {% endblock %}