{% extends 'company/partials/master1.html' %}
{% block content %}
{% load static %}


  <div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Stock Details</h3>
                    <ul class="breadcrumb">
                        <li class="">
                            <a href="{% url 'company:index' %}">Dashboard /</a>
                        </li>
                        <li class="breadcrumb-item active">Stock</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
        
                <div class="col-xl-3 col-sm-6 col-12">

                    <!-- demo -->
                    <div class="card">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <span class="dash-widget-icon bg-3">
                                    <i class="fa fa-building"></i>
                                </span>
                                <div class="dash-count">
                                    <div class="dash-title">BRANCH</div>
                                    <a href="{% url 'company:branchstock' %}">
                                        <p class="text-muted mt-3 mb-0" style="float: right;">
                                            <span class="text-success me-1"><i class="fa fa-arrow-right"></i>
                                        </p>
                                    </a>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                     <!-- demo -->


                    {% comment %} <div class="card">
                        <div class="card-body ">
                            <div class="dash-widget-header">
                                <span class="dash-widget-icon" >
                                    <i class="material-icons">
                                        local_pharmacy
                                    </i>
                                </span>
                                <div class="dash-count">
                                    <div class="dash-title"><b></b></div>
                                    <div class="dash-counts">
                                        <p>
                                            
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <a href="">
                                <p class="text-muted mt-3 mb-0" style="float: right;">
                                    <span class="text-success me-1"><i class="fa fa-arrow-right"></i>
                                </p>
                            </a>
                        </div>
                    </div> {% endcomment %}


                </div>
            
            
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}