{% load static %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul id="toggle">
                <li class="menu-title"><span>Main</span></li>
                <li {% if is_index %} class="active" {% endif %}>
                    <a href="{% url 'branch:index' %}"><i class="fa fa-home"
                            data-bs-toggle="tooltip"></i><span>Dashboard</span></a>
                </li>
                <li {% if is_customer %} class="active" {% endif %}>
                    <a href="{% url 'branch:customer' %}"><i class="fa fa-users" data-bs-toggle="tooltip"></i>
                        <span>Customers</span></a>
                </li>
              
                <li {% if is_marketingstaff %} class="active" {% endif %}>
                    <a href="{% url 'branch:employee' %}"><i class="fa fa-user" data-bs-toggle="tooltip"
                            title="fa fa-user"></i> <span>Employees</span></a>
                </li>
                
                <li {% if is_estimate %} class="active" {% endif %}>
                    <a href="/user/estimate"><i class="fa fa-file" data-bs-toggle="tooltip"
                            title="fa fa-file-text"></i><span>Estimates</span></a>
                </li>
                <li {% if is_invoice %} class="active" {% endif %}>
                    <a href="/user/invoiceList"><i class="fa fa-clipboard" data-bs-toggle="tooltip"
                            title="fa fa-clipboard"></i><span>Invoices </span></a>
                </li>

              

                <li {% if is_payment %} class="active" {% endif %}>
                    <a href="/user/payment"><i class="fa fa-credit-card"></i> <span>Payments</span></a>
                </li>
                <li {% if is_expenses %} class="active" {% endif %}>
                    <a href="/user/expenses"><i class="fas fa-chart-area"></i> <span>Expenses</span></a>
                </li>
                <li {% if is_income %} class="active" {% elif is_addincome%} class="active" {% endif %}>
                    <a href="">
                        <i class="material-icons fa-md">monetization_on</i>
                        <span>Income</span>
                    </a>
                </li>
                <li {% if is_bank %} class="active" {% endif %}>
                    {% comment %} <a href="/user/bank"><i class="fa fa-university"></i> <span> Add Bank</span></a>
                </li> {% endcomment %}
                <li {% if is_profitandloss %} class="active" {% endif %}>
                    <a href="/user/profitandloss"><i class="fas fa-sitemap"></i> <span> Profit And Loss
                        </span></a>
                </li>
                {% comment %} <li {% if is_filter %} class="active" {% endif %}>
                    <a href="/user/filter"><i class="fa fa-filter"></i> <span> Advace filter </span></a>
                </li> {% endcomment %}
                <li {% if is_print %} class="active" {% endif %}>
                    <a href="/user/printlist"><i class="fa fa-eye"></i> <span> Preview List </span></a>
                </li>
                <li {% if is_searchmedicine %} class="active" {% endif %}>
                    <a href="">
                        <i class="fa fa-search"></i>
                        <span>Stock Search/Request </span>
                    </a>
                </li>
                <li {% if is_medicinerequested %} class="active" {% endif %}>
                    <a href="">
                        <i class="fa fa-upload"></i>
                        <span>Requested History</span>
                    </a>
                </li>


            </ul>
        </div>
    </div>
</div>